<header id="main">
    <section class="flex--row">
      <img src="{{ imgBrand }}" alt="" width="45" height="45" />
    </section>
    <!-- Badges -->
    <section class="header__wrapper--right">
      @if (email) {
        <span class="">{{ email }}</span>
      }

      <app-label 
        icon="fa fa-user" 
        iconLabel="user" 
        label="label" 
        subtitle="subtitle" 
        prefix="prefix" 
        direction="vertical"
        size="md">
      </app-label>
  
    </section>
</header>
