<header id="main">
    <section class="flex--row">
      <img *ngIf="!isMobile" src="{{ brandDesktop }}" alt="" width="234" height="37" />
      <img *ngIf="isMobile" src="{{ brandMobile }}" alt="" width="45" height="45" />
    </section>
    <!-- Badges -->
    <section class="header__wrapper--right">
      @if (loggedUser) {
        <app-button [path]="'scan'" label="scanear" size="xs" variant="link" direction="row"  icon="code" severity="primary"></app-button>
        <app-button [path]="'registrar'" label="registrar" size="xs" variant="link" direction="row" icon="plus" severity="primary"></app-button>
        <app-button *ngIf="isMobile" size="xs" variant="link" icon="trash-can" (click)="goBack()">Back</app-button>
        <app-button size="xs" variant="link" icon="share-from-square" variant="link" direction="row" label="Cerrar sesión" severity="primary" (click)="logOut()"></app-button>
        <app-label 
          icon="user" 
          iconLabel="user" 
          label="Nombre usuario" 
          subtitle="{{ email }}" 
          direction="row"
          size="xs">
        </app-label>
        <app-dropdown
          [items]="menuItems"
          [position]="dropdownPosition"
          buttonLabel=""
          buttonIcon="bars"
        ></app-dropdown>
      }  
    </section>
</header>
