<section class="panel__main--center">
    <header class="panel__header">
        <app-label
            size="md"
            [label]="'Scanea el QR
            de la consulta'"
            [prefix]="'Autoregistro'"
            severity="neutral"
            [subtitle]="'Muestra el QR a la camara para obtener su contenido.'"
            direction="column">
        </app-label>
    </header>
    @if (noPermissions) {
        <!-- <canvas id="qrHolder" width="200" height="200" style="border:1px solid grey"></canvas> -->
        <div class="qr-scanner">
            <div class="qr-scanner__overlay"></div>
            <div class="qr-scanner__line"></div>
        </div>
          
        <app-badge severity="danger" label="Cámara no habilitada" size="xs"></app-badge>
    }
    @if (!noPermissions) {
        <zxing-scanner class="inner__wrapper--qr" [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
                    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
                    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)">
        </zxing-scanner>
        @if (qrResultString) {
            <app-badge severity="success" label="Scaneo exitoso" size="xs"></app-badge>
        } @else {
            <app-badge severity="warning" label="No se pudo leer el código" size="xs"></app-badge>
        }
    }
        <app-label
        size="sm"
        [label]="'Enfoca'"
        [subtitle]="isMobile ? 'Te redireccionaremos al detalle de la consulta.' : 'El contenido del QR se autocompletará en la descripción del registro'"
        [icon]="'hand'"
        severity="neutral"
        direction="column">
        </app-label>
    <!-- Crear componente Footer -->
     @if (isMobile) {
         <footer class="panel__footer">
             <app-button
                 size="xs"
                 severity="danger"
                 [variant]="'outline'"
                 [direction]="'row'"
                 [icon]="'close'"
                 [label]="'Cancelar'"
                 ></app-button>
                 <app-button
                 size="xs"
                 severity="success"
                 [variant]="'fill'"
                 [direction]="'row'"
                 [icon]="'code'"
                 [label]="'Scanear'"
             ></app-button>
         </footer>
     }
</section>