  <main id="signUp">
      <span class="page__bg--overlay"></span>
      <form class="page__panel--float" [formGroup]="form" (ngSubmit)="signUp()">
        <section class="panel__inner--left">
          <img *ngIf="!isMobile" class="panel__img--center" width="240" src="./assets/img/ep__marca--row.svg" alt="logo experiencia paciente">
          <img *ngIf="isMobile" class="panel__img--center" width="60" height="60" src="./assets/img/ep__marca--sqr.png" alt="logo experiencia paciente">
        </section>
        <!-- form -->
        <section type="flex" class="panel__inner--right">
          <app-label
          size="md"
          [prefix]="'Ingreso'"
          [label]="'Bienvenido'"
          subtitle="Aquí comienza tu historia de Salud"
          [direction]="isMobile ? 'column' : 'row'"
        ></app-label>
          <!-- Notificación -->
          @if (isMobile) {
            <app-card
            size="lg"
            direction="row"
            [variant]="'fill'"
            bottom="20px"
            [severity]="'warning'"
            [closable]="true"
            [selectable]="false"
          >
          <app-label
            size="xxs"
            label="Versión de prueba"
            subtitle="Evitá almacenar datos sensibles."
            [icon]="'triangle-exclamation'"
            variant="outline"
            direction="row"
            severity="info"
          ></app-label>
        </app-card>
          }
        <div type="wrap">
          <div class="form__input-wrapper--col flex--block">
            <app-required [label]="'Email'" [control]="'email'"></app-required>
            <input formControlName="email" />
            <small class="required" *ngIf="form.controls['email'].invalid && form.controls['email']?.touched">
              {{ form.controls['email'].errors?.['required'] ? 'Email es obligatorio' : 'Email no es válido' }}
            </small>
            <small class="required" *ngIf="errorMessage">
              {{ errorMessage }}
            </small>
          </div>
          <div class="form__input-wrapper--col flex--1">
            <app-required [label]="'Nombre (opcional)'" [control]="'nombre'"></app-required>
            <input formControlName="nombre" />
            <small class="required" *ngIf="form.controls['nombre']?.invalid && form.controls['nombre']?.touched">
              El nombre es obligatorio
            </small>
          </div>   
          <div class="form__input-wrapper--col flex--1">
            <app-required [label]="'Apellido (opcional)'" [control]="'apellido'"></app-required>
            <input formControlName="apellido" />
            <small class="required" *ngIf="form.controls['apellido']?.invalid && form.controls['apellido']?.touched">
              El apellido es obligatorio
            </small>
          </div>
          <section type="flex">
            <span class="form__input-wrapper--row">
              <div class="form__input-wrapper--row">
                <div class="form__input-wrapper--col">
                  <app-required [label]="'Contraseña'" [control]="'password'"></app-required>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <small class="required" *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched">
                    {{ form.controls['password'].errors?.['required'] ? 'La contraseña es obligatoria' : 'Al menos 8 caracteres, número y mayúscula.' }}
                  </small>
                </div>
                  <app-button
                  [type]="'button'"
                  size="sm"
                  [severity]="'primary'"
                  [variant]="'outline'"
                  [icon]="'eye'"
                  [direction]="'none'"
                  (click)="hide = !hide"
                  >
                </app-button>
              </div>
              <div class="form__input-wrapper--row">
                <div class="form__input-wrapper--col">
                  <app-required [label]="'Repetir contraseña'" [control]="'confirmPassword'"></app-required>
                  <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="confirmPassword"
                    (input)="form.get('confirmPassword')?.updateValueAndValidity()"
                  />
                  <small class="required" *ngIf="passwordsDoNotMatch">
                    Las contraseñas no coinciden
                  </small>
                </div>
                  <app-button
                  [type]="'button'"
                  size="sm"
                  [severity]="'primary'"
                  [variant]="'outline'"
                  [icon]="'eye'"
                  [direction]="'none'"
                  (click)="hide = !hide"
                  >
                </app-button>
              </div>
            </span>
          </section>
          <div class="flex--block">
            <app-button
            [size]="isMobile ? 'xxs' : 'xs'"
            [severity]="'primary'"
            [variant]="'link'"
            [icon]="'chevron-down'"
            [direction]="'row'"
            [label]="'Información de salud (opcional)'"
            (click)="moreInfo = !moreInfo"
          ></app-button>
          </div>
        @if (moreInfo) {
        <div class="form__input-wrapper--col">
          <app-required [label]="'Grupo sanguíneo'" [control]="'grupoSanguineo'"></app-required>
            <select class="form__select--custom" id="grupoSanguineo" formControlName="grupoSanguineo" (change)="onGruposChange()">
            @for (grupo of grupos; track grupo) {
              <option [value]="grupo">
                {{ grupo }}
              </option>
            }
          </select>
        </div> 
        <div class="form__input-wrapper--col">
          <app-required [label]="'Alergias'" [control]="'alergia'"></app-required>
            <select class="form__select--custom" id="alergia" formControlName="alergia" (change)="onAlergiasChange()">
            @for (alergia of alergias; track alergia) {
              <option [value]="alergia">
                {{ alergia }}
              </option>
            }
          </select>
        </div>
          @if (otraAlergia) {
            <div class="form__input-wrapper--col">
              <app-required [label]="'Otras alergias'" [control]="'otraAlergia'"></app-required>
                <textarea
                  rows="3"
                  type="text"
                  id="otraAlergia"
                  placeholder="Especifique sus otras alergias"
                  formControlName="otraAlergia"
                ></textarea>
              </div>
            }
          }
        </div>
        </section>
        @if (!isMobile) {
        <app-card
            size="block"
            direction="row"
            [variant]="'fill'"
            bottom="20px"
            [severity]="'warning'"
            [closable]="true"
            [selectable]="false"
          >
          <app-label
            size="xxs"
            label="Versión de prueba"
            subtitle="Evitá almacenar datos sensibles. Aún puede haber errores."
            [icon]="'triangle-exclamation'"
            variant="outline"
            direction="row"
            severity="info"
          ></app-label>
        </app-card>
        }
        <!-- disclaimer -->
        <section class="panel__prefooter">
          <small class="footer__text--sm">
            <b>Aviso legal y términos de uso</b><br>
            Al registrarte en experienciaPaciente, reconoces que la plataforma te posibilita acceder, registrar y compartir tus propios datos de salud, sin depender exclusivamente de sistemas tradicionales. experienciaPaciente no sustituye la atención médica.
          </small>
        </section>
        <footer class="panel__footer">
          <app-button
            [size]="isMobile ? 'xxs' : 'xs'"
            [severity]="'primary'"
            [variant]="'link'"
            [icon]="'arrow-left'"
            [direction]="'row'"
            [label]="'Volver'"
            [path]="'ingresar'"
          ></app-button>

          <app-button
            severity="success"
            type="submit"
            variant="fill"
            [icon]="'heart'"
            [direction]="'row'"
            [label]="'Registrarme'"
            [size]="isMobile ? 'xxs' : 'xs'"
            [disabled]="form.invalid || passwordsDoNotMatch"
            >
          </app-button>
        </footer>
      </form>
      <!-- Notificación -->
      <app-card
        *ngIf="showConfirmMsg || showErrorMsg"
        size="lg"
        direction="row"
        [variant]="'fab'"
        bottom="20px"
        left="calc(50vw - 180px)"
        [severity]="showErrorMsg ? 'danger' : 'success'"
        [closable]="true"
        [selectable]="false"
      >
        <app-label
          size="xxs"
          [label]="showErrorMsg ? 'No se ha podido registrar el usuario' : 'El usuario ha sido creado exitosamente'"
          [subtitle]="showErrorMsg ? errorMessage : 'Será redirigido al login'"
          [icon]="showErrorMsg ? 'alert-circle' : 'info-circle'"
          variant="outline"
          direction="row"
          severity="success"
        ></app-label>
      </app-card>
  </main>
