<ng-container *ngIf="registros$ | async as records; else noRecords">
    <ul class="list__wrapper--{{ type }}">
        @for (data of records; track data) {
            <li class="{{ direction == 'vertical' ? 'list__wrapper--vertical' : 'list__wrapper--horizontal' }}" (click)="onItemSelected(data)">
                <!-- simplificar valor icono pasando los prefijos de fontawesome a la logica -->
               <app-label size="xs" icon="fa-regular fa-heart" label="{{ data.categoria }}" subtitle="{{ data.descripcion }}" direction="horizontal"></app-label>
            </li>
        }
    </ul>
</ng-container>
<ng-template #noRecords>
    <h3>Sin registros</h3>
</ng-template>
