<section class="sidebar__header">
    @if (loggedUser) {
        <div class="panel__header--row">
            <app-label
                size="md"
                [label]="'Tus registros de salud'"
                prefix="Hola {{ name }}"
                direction="row">
            </app-label>
            <div class="notification__wrapper">
                <app-dropdown
                    [position]="dropdownPosition"
                    [customContent]="true"
                    buttonImg="assets/img/sparkles.svg"
                    buttonSize="xs"
                    buttonVariant="outline"
                    buttonSeverity="secondary"
                    buttonDirection="none"
                >
                    <ng-container *ngIf="insight$ | async as insight; else noAnalysis">
                        <ng-container *ngIf="visibleInsightCount > 0; else emptyState">
                            <ng-container *ngIf="visibleAlerts.length">
                                <span class="btn__wrapper--right">
                                    <app-label
                                        size="xs"
                                        [label]="'Alertas'"
                                        [icon]="'triangle-exclamation'"
                                        [direction]="'row'"
                                        [severity]="'warning'"
                                        [color]="'var(--warning)'"
                                    ></app-label>
                                    <app-button 
                                        direction="none" 
                                        size="xxs"
                                        label="Descartar todo"
                                        variant="outline"
                                        severity="secondary"
                                        (clickEvent)="dismissAllInsights()"
                                    ></app-button>
                                </span>
                                <div class="list__wrapper--flex">
                                    <ng-container *ngFor="let alerta of visibleAlerts; let i = index">
                                        <app-card 
                                            direction="row" 
                                            variant="fill" 
                                            severity="warning" 
                                            size="md"
                                            [selectable]="false"
                                            [closable]="true"
                                            (close)="dismissAlert(i)"
                                        >
                                            <app-label
                                                size="xs"
                                                [subtitle]="alerta"
                                                [direction]="'row'"
                                                [severity]="'warning'"
                                                [icon]="'exclamation-circle'"
                                                [color]="'var(--warning)'"
                                            ></app-label>
                                        </app-card>
                                    </ng-container>
                                </div>
                            </ng-container>
                            <hr>
                            <ng-container *ngIf="visibleRecommendations.length">
                                <app-label
                                    size="xs"
                                    [label]="'Recomendaciones'"
                                    [icon]="'file-medical'"
                                    [direction]="'row'"
                                    [severity]="'info'"
                                    [color]="'var(--info)'"
                                ></app-label>

                                <div class="list__wrapper--flex">
                                    <ng-container *ngFor="let recomendacion of visibleRecommendations; let i = index">
                                        <app-card 
                                            direction="row" 
                                            variant="fill" 
                                            severity="info" 
                                            size="md"
                                            [selectable]="false"
                                            [closable]="true"
                                            (close)="dismissRecommendation(i)"
                                        >
                                            <app-label
                                                size="xs"
                                                [subtitle]="recomendacion"
                                                [icon]="'check-circle'"
                                                [severity]="'info'"
                                                [color]="'var(--info)'"
                                                direction="row"
                                            ></app-label>
                                        </app-card>
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-template #emptyState>
                            <app-card 
                                direction="column" 
                                variant="fill" 
                                severity="neutral" 
                                size="md"
                                [selectable]="false"
                                >
                                <app-label
                                    size="xs"
                                    [label]="'Estás al día'"
                                    [subtitle]="'No hay nuevas alertas o recomendaciones en este momento.'"
                                    [severity]="'neutral'"
                                    [direction]="'column'"
                                    [icon]="'circle-check'"
                                ></app-label>
                            </app-card>
                        </ng-template>
                    </ng-container>
        <ng-template #noAnalysis>
            <app-card 
                direction="column" 
                variant="outline" 
                severity="neutral" 
                size="md"
            >
                <app-label
                    [size]="isMobile? 'xxs' : 'xs'"
                    [label]="'No hay análisis disponible'"
                    [severity]="'neutral'"
                    [direction]="'column'"
                    [icon]="'magnifying-glass'"
                ></app-label>
            </app-card>
        </ng-template>
    </app-dropdown>
            <span 
                *ngIf="visibleInsightCount > 0" 
                class="notification__count notification__count--active"
            >
                {{ visibleInsightCount }}
            </span>
        </div>
    </div>
    }
    <section class="input__group">
        <span class="input__wrapper">
          <label for="titulo">Buscador</label>
          <input type="text" placeholder="Busca por título del registro" class="input__size--sm"
          [formControl]="searchControl">
        </span>
        <app-button type="button" [direction]="'none'" [icon]="medCategories ? 'chevron-up' : 'chevron-down'" size="xs" [variant]="'outline'" severity="primary" direction="none" (clickEvent)="showMedCategories($event)"></app-button>
        <app-dropdown
        [items]="getRegistroOptions()"
        [position]="splitButtonPosition"
        buttonSize="xs"
        buttonDirection="none"
        buttonVariant="fill"
        buttonSeverity="success"
        buttonIcon="plus"
        ></app-dropdown>
    </section>
    <!-- Considerar hacer un componente carousel -->
     @if (medCategories) {
         <app-navbar [items]="categoriaItems" (categorySelected)="onCategorySelected($event)"></app-navbar>
     }
</section>
<ng-container *ngIf="registros$ | async as records">
    <div class="list__wrapper--center" *ngIf="!records.length">
        <app-label
            [size]="isMobile ? 'xs' : 'sm'"
            [icon]="'pen-to-square'"
            [prefix]="'Tus registros'"
            [label]="'Comienza a escribir tu historia de salud'"
            subtitle="Aquí se listarán los datos de salud que registres manualmente o a través del QR facilitado por quién haya gestionado tu registro de salud."
            [direction]="'column'"
            [color]="'var(--neutral)'"
        ></app-label>
    </div>
    <ul class="list__wrapper--{{ type }}">
        <li *ngFor="let data of (filteredRegistros$ | async); trackBy: trackByFn" (click)="onItemSelected(data)">
            <app-card direction="row" [selectable]="true" [selected]="selectedItemId === data.id" [variant]="'fill'" severity="custom" [color]="getColorForCategoria(data.categoria)" (cardSelected)="onCardSelected(data)">
                <app-label
                    [size]="'xs'"
                    [label]="data.titulo"
                    [prefix]="data.categoria"
                    [subtitle]="data.descripcion"
                    [icon]="getIconForCategoria(data.categoria)"
                    [severity]="'custom'"
                    [color]="getColorForCategoria(data.categoria)"
                    direction="row">
                    
                    <app-badge 
                        severity="neutral" 
                        [label]="formatDate(data.fecha)" 
                        size="xs" 
                        icon="calendar">
                    </app-badge>
                    
                    @if (data.lugar) {
                    <app-badge severity="info" [label]="data.validado ? data.lugar : 'Auto-registro'" size="xs"></app-badge>
                    }
                    
                    <app-dropdown
                        [items]="getMenuItems(data)"
                        [position]="dropdownPosition"
                        buttonLabel=""
                        buttonIcon="ellipsis-vertical"
                    ></app-dropdown>
                </app-label>
            </app-card>
        </li>
    </ul>
</ng-container>

<!-- Move the modal outside of the ngFor loop -->
@if (isModalOpen && itemToDelete) {
    <app-modal
        [prefix]="'Eliminar registro'"
        [title]="'¿Desea eliminar' + ' ' + itemToDelete.titulo + '?'"
        [subtitle]="'Esta acción es irreversible, si elimina el registro no podrá recuperar su contenido.'"
        [size]="isMobile ? 'sm' : 'md'"
        icon="trash-can"
        (closeModal)="onCancel()"
    >
        <app-button direction="none" size="sm" label="Cancelar" variant="outline" severity="danger" (click)="onCancel()"></app-button>
        <app-button direction="none" size="sm" label="Si, eliminar" variant="fill" severity="success" (click)="onConfirm()"></app-button>
    </app-modal>
}