<section class="sidebar__header">
    <app-label
        size="md"
        [label]="'Estos son tus registros'"
        [prefix]="'Hola usuario'"
        direction="row">
    </app-label>
    <div class="input__group">
        <span class="input__wrapper ">
          <label for="titulo">Buscador</label>
          <input type="text" class="input__size--sm">
        </span>
        <app-button icon="plus" size="xs" variant="fill" severity="primary" direction="none" path="/registrar"></app-button>
    </div>
    <!-- Considerar hacer un componente carousel -->
    <app-navbar [items]="categoriaItems"></app-navbar>
</section>
<ng-container *ngIf="registros$ | async as records; else noRecords">
    <!-- Considerar hacer un app-wrapper -->
    <ul class="list__wrapper--{{ type }}">
        @for (data of records; track trackByFn(data)) {
            <li (click)="onItemSelected(data)">
                <app-card direction="row" [selectable]="true" [type]="'fill'" severity="custom" [color]="getColorForCategoria(data.categoria)">
                        <app-label
                        size="sm"
                        [label]="data.titulo"
                        [prefix]="data.categoria"
                        [subtitle]="data.descripcion"
                        [icon]="getIconForCategoria(data.categoria)"
                        [severity]="getColorForCategoria(data.categoria)"
                        direction="row">
                        <app-badge [severity]="data.validado ? 'success' : 'info'" [label]="data.validado ? 'Validado' : 'Auto-registro'" size="xs"></app-badge>
                        <app-badge severity="info" [label]="data.emisor" size="xs" icon="user"></app-badge>
                        <app-dropdown
                        [items]="menuItems"
                        [position]="dropdownPosition"
                        buttonLabel=""
                        buttonIcon="ellipsis-vertical"
                    ></app-dropdown>
                    </app-label>
                </app-card>
            </li>
        }
    </ul>
</ng-container>
<ng-template #noRecords>
    <!-- Work on empty states -->
    <h3>Sin registros</h3>
</ng-template>
