<div tabindex="0" #cardColor class="card card__{{ type }}--{{ severity }} card--{{ size }}" [ngClass]="cssDirection"
    [class.card--selectable]="selectable" [class.card--selected]="selected" 
    (click)="onCardClick()">
    <section class="card__inner-wrapper--left">
        <ng-content select="app-label"></ng-content>
    </section>
    <section class="card__inner-wrapper--right">
        <ng-content select="app-badge"></ng-content>
        <ng-content select="app-button"></ng-content>
    </section>
</div>