    <app-card *ngFor="let notification of notifications; let i = index"
        size="lg"
        direction="row"
        [variant]="'fab'"
        bottom="20px"
        left="50vw"
        [severity]="showErrorMsg ? 'danger' : 'success'"
        [closable]="hide"
        [selectable]="showErrorMsg"
        >
        <app-label
        size="xxs"
        label="{{ notification }}"
        [subtitle]="showErrorMsg ? 'Vuelva a intentar luego' : 'Será redirigido al login'"
        [icon]="showErrorMsg ? 'alert-circle' : 'info-circle'"
        variant="outline"
        direction="row"
        severity="success"
        ></app-label>
    </app-card>
    <!-- <button (click)="dismissNotification(i)">Dismiss</button> -->
