// Mover a mixins
@mixin baseFlexWrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--panel__gap--row);
}

@mixin baseFlexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#signIn {
--box-shadow: -2px 0 4px var(--shadow);
--page__body--height: 100vh;
position: relative;
height: 100vh;
width: 100vw;

    .page__body--bg {
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        object-fit: cover;
        filter: blur(20px) grayscale(100%);
    }

    // Mover a archivo _img.scss
    .img--hero {
        flex: 1;
        height: 100%;
        object-fit: cover;
    }

    .panel__img--center {
        align-self: center;
    }

    .shape__circle--quarter {
        width: 200px; // Variables | procurar proporción
        height: 170px;
        // background-image: './assets/img/shape__circle--quarter.svg';
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
}

// Sign-up
#signUp {
    --page__bg--img: url('./../../../../assets/img/login__bg--desktop.jpg');
    background-image: var(--page__bg--img);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;

    // @extend %baseFlexCenter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--panel__gap--row);

    height: 100vh;
    width: 100vw;

    .overlay {
        background-color: var(--primary);
        opacity: .5;
        mix-blend-mode: multiply;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .page__panel--float {
        --panel__padding: 48px;
        --panel__width: 72vw;
        --panel__height: 80vh;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
        grid-template-rows: 60px auto auto;
        grid-auto-flow: row dense;
        row-gap: var(--panel__gap--row);
        column-gap: var(--panel__gap);
        width: 100%;

        width: var(--panel__width);
        height: fit-content;
        max-height: var(--panel__height);
        padding: var(--panel__padding) var(--panel__padding) 0 var(--panel__padding);
        background-color: white;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: var(--box-shadow);
        border-radius: var(--panel__border--radius);

        .panel__inner--left {
            display: flex;
            flex-direction: column;
            height: min-content;
            order: 0;
        }
        .panel__prefooter {
            order: 2;

            .footer__text--sm {
                font-size: var(--footer__text--sm);
            }
        }

        .panel__inner--right {
            grid-row: span 3;
        }

        footer.panel__footer {
            // position: absolute!important;
            // left: 0;
            // bottom: 0;
            grid-column: 1 / -1;
            grid-row: 6;
        }
    }

}

