app-badge {
  [class^="badge__wrapper"] {
      display: inline-flex;
      align-items: center;
      padding: 0.5em 1em;
      border-radius: 6px;
      font-weight: normal;
      font-size: var(--badge__font--size);
      align-self: center;
      text-wrap: nowrap;
      text-overflow: ellipsis;
    
      i {
        margin-right: 0.5em;
      }
    }
}
  