@if (registro != null) {
<section class="panel__inner--main">
    <header>
        <app-label
            size="md"
            [label]="registro.titulo"
            [prefix]="registro.categoria"
            [icon]="editableIcon"
            [severity]="editableColor"
            direction="row">
            <app-badge type="neutral" label="{{ registro.fecha }} | {{ registro.hora }}" size="xs"></app-badge>
            <app-badge type="info" label="{{ registro.emisor }}" size="xs"></app-badge>
            <app-badge type="success" label="{{ registro.validado }}" size="xs"></app-badge>
            <app-button icon="ellipsis-vertical" size="xs" variant="link" severity="neutral"></app-button>
        </app-label>
    </header>
    <div class="panel__inner--main">
        <article>
            {{ registro.descripcion }}
            {{ registro.paciente }}
        </article>
        <template>
            <img src="" alt="">
        </template>
    </div>
    <!-- Desacoplar footer en componente -->
    <footer class="panel__footer">
        <app-button
            size="xs"
            [severity]="'danger'"
            [variant]="'link'"
            [icon]="'pencil'"
            [label]="'Editar'"
        ></app-button>
        <app-button
            size="xs"
            [severity]="'success'"
            [variant]="'fill'"
            [icon]="'trash'"
            [label]="'Compartir'"
        ></app-button>
    </footer>
</section>
} @else {
    <p>Sin registros!</p>
}
