.label {
    display: flex;
    flex-direction: column;
  
    &.horizontal {
      flex-direction: row;
      align-items: center;
    }
  
    &__icon {
      margin-right: 0.5rem;
      color: var(--button__icon--color);
    }
  
    &__content {
      display: flex;
      flex-direction: column;
    }
  
    &__prefix {
      font-size: var(--label__prefix--size);
      color: var(--label__prefix--color);
    }
  
    &__title {
      color: var(--label__title--color);

      &--xs {
      }

      &--sm {
      }

      &--md {
      }

      &--lg {
      }

      &--xl {
      }
    }
  
    &__subtitle {
      font-size: var(--label__subtitle--size);
      color: var(--label__subtitle--color);
    }
  }
  
  $sizes: sm md lg;
  $fontSizes: (
      "xs": 16px,
      "sm": 24px,
      "md": 36px,
      "lg": 48px,
      "xl": 64px,
  );  
  
  @each $size in $sizes {
      // $i: index($sizes);
      .label.#{$size} {
          font-size: map-get($fontSizes, $size);
      }
      .label__text--#{$size} {
          font-size: map-get($fontSizes, $size);
      }
  }
