<!-- Unificar criterios de anidación de clases utilizando BEM -->
<div #labelColor class="label" [ngClass]="[size, direction, severity]">
  @if (icon) {
    <div class="label__icon">
      <i class="fa-solid fa-{{ icon }}" [attr.aria-label]="iconLabel"></i>
    </div>
  }
  <div class="label__content">
    @if (prefix) {
        <div class="label__prefix">{{ prefix }}</div>
    }
    @if (label) {
        <div class="label__title">{{ label }}</div>
    }

    @if (subtitle) {
        <div class="label__subtitle">{{ subtitle }}</div>
    }
    </div>
</div>