.label__wrapper--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--label__height);
    // padding: var(--label__padding);

    i {
    font-size: 12px;
    }

    .item__label {
        font-size: 12px;
    }

}
