<p>crear-registro works!</p>

<zxing-scanner class="qr" [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
[formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
(camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>


<form [formGroup]="form" (ngSubmit)="createRegistro()">
  <div class="form__input--wrapper">
    <label for="titulo"></label>
    <input type="text" formControlName="titulo">
  </div>
  @if (qrResultString) {
    <div class="form__input--wrapper">
      <label for="paciente">Registro de esta consulta</label>
      <textarea 
        id="paciente"
        formControlName="paciente">
        {{ qrResultString }}
      </textarea>
      <button (click)="clearResult()">&times;</button>
    </div>
    }
    <div class="form__input--wrapper">
      <label for="categoria"
        >categoria</label
      >
      <select name="" id="" formControlName="categoria">
        <option value=""></option>
      </select>
    </div>
    <div class="form__input--wrapper">
      <label for="emisor"
        >emisor</label
      >
      <input
        type="text"
        id="emisor"
        class=""
        placeholder="+51 995123233"
        formControlName="emisor"
      />
    </div>
    <div class="form__input--wrapper">
    <label for="descripcion"
      >Description (optional)</label
    >
    <textarea
      rows="5"
      type="text"
      id="descripcion"
      class=""
      placeholder="Your description goes here"
      formControlName="descripcion"
    ></textarea>
  </div>

  <div>
    <a
      class=""
      routerLink="/"
    >
      Back to dashboard
    </a>

    <button
      class=""
      type="submit"
    >
      @if (registroId) {
        Edit your registro
      } @else {
        Create your registro
      }
    </button>
  </div>
</form>
