  <form [formGroup]="form" class="main__wrapper" (ngSubmit)="createRegistro()">
  
    <section type="flex" class="panel__wrapper--main">

      <header class="panel__header--row">
          <app-label
          size="lg"
          [label]="editableTitle"
          [prefix]="editableCategory"
          [icon]="editableIcon"
          [severity]="editableColor"
          direction="row"
        ></app-label>
        <app-badge type="success" label="Registro guardado" size="md"></app-badge>
      </header>

      <div class="form__input-wrapper--col">
        <label for="titulo">Titulo</label>
        <input type="text" formControlName="titulo" (keyup)="onTitleChange()">
      </div>

      @if (!qrResultString) {
      <div class="form__input-wrapper--col">
        <label for="descripcion"
          >Description (optional)</label>
          <textarea
            rows="5"
            type="text"
            id="descripcion"
            class=""
            placeholder="Your description goes here"
            formControlName="descripcion"
          ></textarea>
        </div>
      }

      @if (qrResultString) {
        <div class="form__input-wrapper--col">
          <label for="paciente">Registro de esta consulta</label>
          <textarea 
            id="paciente"
            formControlName="paciente">
            {{ qrResultString }}
          </textarea>
          <button (click)="clearResult()">&times;</button>
        </div>
        }

        <div class="form__input-wrapper--col">
          <label for="categoria">Categoría</label>
          <select id="categoria" formControlName="categoria" (change)="onCategoryChange()">
            <option value="" disabled selected>Select a category</option>
            @for (categoria of categorias; track categoria) {
              <option [value]="categoria">
                {{ categoria }}
              </option>
            }
          </select>
        </div>
          
        <div>
          <a
            class=""
            routerLink="/"
          >
            Back to dashboard
          </a>
  
          <app-button
            severity="success"
            type="submit"
            label="Guardar registro"
            size="xs"

          >
            @if (registroId) {
              Edit your registro
            } @else {
              Create your registro
            }
          </app-button>
        </div>
    </section>

    <!-- <section class="panel__wrapper--aside">
      <div class="form__input-wrapper--col">
        <label for="fecha"
          >Fecha</label
        >
        <input
          type="date"
          id="fecha"
          class=""
          placeholder=""
          formControlName="fecha"
        />
      </div>
    <div class="form__input-wrapper--col">
      <label for="emisor"
        >emisor</label
      >
      <input
        type="text"
        id="emisor"
        class=""
        placeholder=""
        formControlName="emisor"
      />
    </div>
    <div class="form__input-wrapper--col">
      <label for="validado"
        >Validado</label
      >
      <input type="checkbox" formControlName="validado">
    </div>
    
    <zxing-scanner class="qr" [torch]="torchEnabled" [(device)]="currentDevice" (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled" [tryHarder]="tryHarder" (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)" (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>
    
    </section>  -->
  </form>
