:root {
  /* Colors */
  --primary: #375B9F;
  --secondary: #00EEFF;
  --tertiary: #F993C4;
  --neutral: #64748b;
  --shadow: rgba(140, 140, 140, 0.5);
  --info: teal;
  --info--light: #c9f0ff;
  --warning: #ff9a00;
  --warning--light: #fff1dc;
  --success: green;
  --success--light: lightgreen;
  --danger--dark: #b82e76;
  --danger: #ef5da8;
  --danger--light: #ffe0f0;
  /* Label */
  --label__height: fit-content;
  --label__padding: 1rem;
  /* Page */
  --page__body--padding: var(--header__height) 1rem 0 1rem;
  --page__body--height: calc(100vh - var(--header__height));
  --page__body--background: linear-gradient(to top right, #317aa0, #0abebb, #87d1b6);
  --page__gap--vertical: 2.5rem;
  --page__font-familiy: ui-sans-serif, system-ui, -apple-system, "Open Sans", "Helvetica Neue",
    "Segoe UI", sans-serif;
  --page__title--size: 1.75rem;
  --page__title--color: var(--primary--darker);
  --page__title--lineHeight: auto;
  --page__title--underline: lightgray;
  --page__title--weight: bolder;
  --page__title--shadow: 0px 0px 4px var(--shadow);
  --page__title--margin: 0.5rem 0;
  --page__subtitle--size: 1.35rem;
  --page__subtitle--color: var(--primary--darker);
  --page__subtitle--lineHeight: auto;
  --page__subtitle--underline: lightgray;
  --page__subtitle--weight: normal;
  --page__subtitle--margin: 0.5rem 0;
  --page__prefix--size: 1.25rem;
  --page__prefix--color: var(--primary--middle);
  --page__prefix--lineHeight: auto;
  --page__prefix--weight: normal;
  --page__prefix--margin: 0.75rem 0;
  --page__subfix--size: 1rem;
  --page__subfix--color: gray;
  --page__subfix--lineHeight: auto;
  --page__subfix--weight: normal;
  --page__subfix--margin: 0 0 1rem 0;
  /* Header */
  --header__height: 65px;
  --header__padding--vertical: 0.5rem;
  --header__padding--horizontal: 2rem;
  --header__item-padding--vertical: 0;
  --header__item-padding--horizontal: 16px;
  /* Panel */
  --panel__border--radius: 4px;
  --panel__bg--color: white;
  --panel__padding: 2rem;
  --panel__shadow--gray: 3px 4px 10px 3px var(--shadow);
  --panel__width: 35vw;
  --panel__height: fit-content;
  --panel__title--size: 1.35rem;
  --panel__title--color: var(--primary--darker);
  --panel__title--weight: bold;
  --panel__subtitle--size: 1.2rem;
  --panel__subtitle--color: var(--primary--darker);
  --panel__subtitle--weight: bold;
  --panel__prefix--size: 0.75rem;
  --panel__prefix--color: var(--primary--middle);
  --panel__prefix--weight: normal;
  --panel__subfix--size: 0.9rem;
  --panel__subfix--color: gray;
  --panel__subfix--weight: normal;
  --panel__subfix--align: center;
  --panel__subfix--margin: 0;
  /* Card */
  --card__border--radius: 4px;
  --card__bg--color: white;
  --card__title--size: 1.35rem;
  --card__title--color: var(--primary);
  --card__title--weight: bold;
  --card__subtitle--size: 1.2rem;
  --card__subtitle--color: var(--primary);
  --card__subtitle--weight: bold;
  --card__prefix--size: 0.75rem;
  --card__prefix--color: var(--primary--middle);
  --card__prefix--weight: normal;
  --card__subfix--size: 0.9rem;
  --card__subfix--color: gray;
  --card__subfix--weight: normal;
  --card__subfix--align: center;
  --card__padding: 0.5rem;
  --card__shadow--gray: 3px 4px 10px 3px rgba(140, 140, 140, 0.5);
  --card__width: 100%;
  /* Accordion */
  --accordion__prefix--size: 0.75rem;
  --accordion__prefix--color: var(--primary--middle);
  --accordion__prefix--weight: normal;
  /* Button */
  --button__padding--vertical: 0.6rem;
  --button__padding--horizontal: 0.75rem;
  --button__height: fit-content;
  --button__width: fit-content;
  --button__font--size: 0.75rem;
  --button__border--radius: 4px;
  --button__text--color: white;
  --button__bg--color: transparent;
  --button__opacity: 50%;
  --button__icon--color: var(var(--primary--lighter)) /* Badge */ --badge__padding--vertical:
    0.75rem;
  --badge__padding--horizontal: 1rem;
  --badge__font--size: 12px;
  --badge__color--neutral: var(--neutral);
  --badge__background--color: rgba(255, 255, 255, 0.75);
  /* Footer */
  --footer__height: 120px;
  --footer__text--sm: x-small;
  --footer__text--color: gray;
  --footer__text--align: center;
  /* Form */
  --form__gap--horizontal: 16px;
  --form__gap--vertical: 24px;
  --form__label--size: 0.9rem;
  --form__label--weight: bold;
  --form__label--color: gray;
  --form__label--marginBottom: 0.5rem;
  --form__padding: 1rem 1rem var(--footer__height) 1rem;
  /* Divider */
  --page__line--color: lightgray;
  --page__line--width: 1px;
  /* List */
  --list__line--color: lightgray;
  --list__line--width: 1px;
  --list__item--padding: 1rem;
  --list__item--gap: 1rem;
  --list__item--align: start;
  --list__item--disabled: 0.5;
  --list__title--size: 1rem;
  --list__title--weight: bold;
  --list__title--color: var(--primary);
  --list__prefix--size: 0.9rem;
  --list__prefix--weight: normal;
  --list__prefix--color: var(--primary--middle);
  --list__subfix--size: 0.9rem;
  --list__subfix--weight: normal;
  --list__subfix--color: gray;
  /* Link */
  --link__font--weight: bold;
  --link__font--size: 0.9rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: var(--page__body--padding);
  gap: var(--page__gap--vertical);
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.25em 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
  border: none;
}

select {
  border: solid 1px gray;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
detalle {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a, ul, li {
  text-decoration: none;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover, ul:hover, li:hover {
  color: var(--secondary);
}
a:visited, ul:visited, li:visited {
  color: var(--tertiary);
}

.label__wrapper--horizontal, .label__wrapper--vertical {
  display: flex;
  height: var(--label__height);
  column-gap: 1rem;
}

.label__wrapper--vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.label__wrapper--horizontal {
  flex-direction: row;
  align-items: center;
}

.label__icon--xs {
  font-size: 12px;
}

.label__text--xs {
  font-size: 12px;
}

.label__subtitle--xs {
  font-size: 12px;
}

.label__icon--sm {
  font-size: 18px;
}

.label__text--sm {
  font-size: 18px;
}

.label__subtitle--sm {
  font-size: 18px;
}

.label__icon--md {
  font-size: 24px;
}

.label__text--md {
  font-size: 24px;
}

.label__subtitle--md {
  font-size: 24px;
}

.label__icon--lg {
  font-size: 36px;
}

.label__text--lg {
  font-size: 36px;
}

.label__subtitle--lg {
  font-size: 36px;
}

.label__icon--xl {
  font-size: 48px;
}

.label__text--xl {
  font-size: 48px;
}

.label__subtitle--xl {
  font-size: 48px;
}

/*# sourceMappingURL=styles.css.map */
