<nav class="nav__wrapper">
    <app-button 
        
        size="sm" 
        [icon]="'fa fa-qrcode'" 
        [label]="'QR'" 
        [prefix]="'Action'" 
        [subtitle]="'Click to submit your data'" 
        (clickEvent)="onSubmit()">
    </app-button>
    <ul class="nav__list--horizontal">
        @for (btn of items; track btn) {
            <li class="nav__item--vertical">
                <app-label 
                icon="fa fa-heart" 
                iconLabel="btn.icon" 
                label="btn.label" 
                subtitle="subtitle" 
                prefix="prefix" 
                direction="vertical"
                size="sm"
                routerLink="{{ btn.path }}"
                >
              </app-label>
            </li>
        }
    </ul>
</nav>