<nav class="nav__wrapper--row">
    <ng-container *ngFor="let item of items; trackBy: trackByFn">
      <app-card
        size="xs"
        direction="column"
        [selectable]="true"
        [type]="'fill'"
        [severity]="'custom'"
        [color]="item.color"
        [selected]="item.selectable"
        (click)="toggleSelectable(item)"
      >
        <app-label
          size="xxs"
          [severity]="'custom'"
          [label]="item.label"
          [icon]="item.icon"
          [color]="item.color"
        ></app-label>
      </app-card>
    </ng-container>
  </nav>
  