form,
fieldset,
section,aside, div {
  // considerar hacer un header / footer internos
  &[type='flex'] {
    display: flex;
    flex-direction: column;
    column-gap: var(--form__gap--horizontal);
    row-gap: var(--form__gap--vertical);
    padding: var(--form__padding);

    div.form__input-wrapper ~ button {
      align-self: flex-end;
      width: 100%;
    }
  }

  &[type='wrap'] {
    display: flex;
    flex-flow: wrap !important;
    column-gap: var(--form__gap--horizontal);
  }

  &[type='grid'] {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  .form__input-wrapper--col {
    display: flex;
    flex-direction: column;
    row-gap: var(--form__label--marginBottom);
  }

  .form__input-wrapper--row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    overflow-x: scroll;
    gap: var(--wrapper__gap);
  }

  fieldset {
    grid-column: span 2;
    padding: 1.25rem;
  }

  .btn-group--horizontal {
    align-items: flex-end;

    button {
      margin-top: 1.5rem;
      white-space: pre-wrap !important;
      height: min-content;

      &.btn--tertiary {
        text-decoration: none;
      }
    }
  }

  label {
    // font-weight: var(--form__label--weight);
    font-size: var(--form__label--size);
    color: var(--form__label--color);
    
    ~ span.required {
      color: var(--danger--dark);
      font-weight: bold;
    }
    
    ~ input, ~ textarea, ~ select {
      font-size: var(--input__font--size);
      // width: 100%;
      flex: 1;
      color: var(--input__font--color);
      padding: var(--input__padding);
      border: var(--input__border);
      border-radius: var(--input__border--radius);

      &.input__size--sm {
        --input__font--size: 16px;
        --input__padding: .5rem;
        --input__border--radius: 4px;
      }
    }
  }

  td > span.required {
    color: var(--danger--dark);
    font-weight: bold;
  }

  .required::after {
    content: ' *';
    color: var(--danger--dark);
    font-weight: bold;
  }

  footer {
    button {
      max-width: fit-content !important;
    }
  }

  [type='form'] {
    padding: 0 !important;
    justify-content: flex-start;
    height: 100%;
  }
}
