.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    &__navbar {
      width: 100%;
      height: fit-content;
      background-color: white;
      box-shadow: 0 2px 4px var(--shadow);
      z-index: 1;
    }
  
    &__content {
      display: flex;
      flex: 1;
    }
  
    &__sidebar {
      height: var(--page__body--height);
      width: 380px;
      padding: var(--panel__padding);
      background-color: white;
      overflow-y: auto;
      box-shadow: 2px 0 4px var(--shadow);
      z-index: 0;
    }
  
    &__main {
      flex: 1;
      background-color: var(--page__body--bg);
      padding: var(--page__body--padding);
      overflow-y: auto;

      .main__wrapper {
        display: flex;
        flex-direction: row;
        height: 100%;
        
        .panel__wrapper--main {
          padding: 2rem 4rem;
          width: 100%;
    
            .panel__header--row {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
            }
        }
        
        .panel__wrapper--aside {
            width: 280px;
            height: 100%;
            padding: 2rem;
    
            .qr {
                width: 100%;
                background-color: lightgray;
            }
         }
      }
    }
  }