.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
    &__navbar {
      width: 100%;
      height: fit-content;
      background-color: white;
      box-shadow: 0 2px 4px var(--shadow);
      z-index: 1;
    }
  
    // Posiblemente el grid
    &__body {
      display: flex;
      flex-direction: row;
      height: var(--page__body--height);

      .panel__header {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      // Componente panel
      aside.page__panel--sidebar {
        height: var(--panel__height);
        flex: 1;
        min-width: 380px;
        // max-width: 100vw;
        box-sizing: border-box;
        padding: var(--panel__padding);
        background-color: white;
        overflow-y: auto;
        box-shadow: 2px 0 4px var(--shadow);
        z-index: 0;

        app-list {
          display: flex;
          flex-direction: column;
          row-gap: var(--wrapper__gap--row);
          height: 100%;
        }

        .sidebar__header {
          position: sticky;
          display: flex;
          flex-direction: column;
          column-gap: var(--wrapper__gap--row);
          height: 100%;
          justify-content: space-between;

          .input__group {
            display: flex;
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
            column-gap: var(--wrapper__gap--col);
            width: 100%;
          }
        }
      }
    
      .page__panel--main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: var(--page__body--height);
        flex: 1;
        background-color: var(--panel__bg--color);
        overflow-y: auto;

        .page__inner--left { 
          width: 100%;
        }

        .panel__inner--main {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: var(--panel__padding);
          gap: var(--panel__gap--col);
          height: -webkit-fill-available;

          article {
            padding-left: var(--label__icon--size); // Asociar con props label
            font-size: var(--panel__font--size);
          }
        }
        
        // QR
        .panel__inner--aside {
            width: 280px;
            height: 100%;
            padding: var(--panel__padding);
            background-color: antiquewhite;
            .qr {
                width: 100%;
                background-color: lightgray;
            }
        }
      }

        .panel__footer {
          display: flex;
          // flex-direction: row;
          flex-flow: wrap;
          align-items: center;
          justify-content: space-between;
      }
    }
  }