@media screen and (min-width: 980px) {
    
    .page__panel--sidebar {
        --panel__padding: 24px;
        --wrapper__gap--row: 24px;
        max-width: 420px;
        padding: var(--panel__padding);
    }

    .page__body {
        .page__panel--main {

            .panel__main {

                .panel__inner--aside {
                    flex-direction: column!important;
                    row-gap: var(--wrapper__gap--row);
                    flex: 0 1 180px!important;
                    height: 100%;
                    align-items: center;

                    .panel__inner--right {
                        row-gap: var(--wrapper__gap--row);

                        .panel__qr--aside {
                            width: 100%;
                            max-width: 100%!important;
                            background-color: white;
                            border: solid 1px var(--neutral);
                            // flex: 1;
                        }
                    }
                }
            }
        }
    }

    // Generics
    form,
    fieldset,
    section,aside, div, header {
    // considerar hacer un header / footer internos
    &[type='flex'] {
        --form__gap--colum: 24px;
        }
    }
}